body {
  font-size: large;
}
.box-margin {
  margin: 75px;
  margin: 75px;  
  margin: 75px;
  margin: 75px;
}
h1 {
  color: #023474;
  text-align: center;
}
h1:before {
    display: inline-block;
    margin: 20px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #9C824A;
    width: 100%;
}
h1:after {
    display: inline-block;
    margin: 20px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #9C824A;
    width: 100%;
}
h2 {
    color: #023474;
    text-align: center;
}
h2:before {
    display: inline-block;
    margin: 20px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #9C824A;
    width: 100%;
}
h2:after {
    display: inline-block;
    margin: 20px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #9C824A;
    width: 100%;
}
.closing-remark {
  text-align: center;
  color: #DB0007;
}
.logo-center {
    text-align: center;
}